<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>backbone router</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- stylesheets -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen"/>

    <style>#preloader{position:absolute;top:50%;left:25%;width:45%;text-align:center}</style>

    <!-- scripts -->
   	<script data-main="assets/js/main.js" src="assets/js/libs/requirejs.js"></script>
    <script>
      requirejs.onResourceLoad = function (context, map, depArray){
        var element = document.getElementById('log');
        if (element) element.innerHTML = map.name.replace('-', ' ');
      };
    </script>
    
    <!-- templates -->


    <!-- regions and layouts -->

    <script type="text/template" id="not-found">
        <div id="content">
            <h2>Not found: <%= path %></h2>
        </div>
    </script>

    <script type="text/template" id="layout">
        <header id="header"></header>
        <div id="content"></div>
    </script>

    <script type="text/template" id="collection-header">
        <h2>Items [<%= total %>]</h2>
        <div class="controls clearfix well">
            <button class="btn add-item pull-left"><span class="glyphicon glyphicon-plus"/> add item</button>
        </div>
    </script>

    <script type="text/template" id="model-header">
        <h2><%= title %></h2>
        <div class="controls clearfix well">
            <button class="btn btn-success save pull-right">Save</button>
            <button class="btn btn-primary back pull-left">Back</button>
        </div>
    </script>    


    <!-- collections and their items -->
    <script type="text/template" id="tpl-list-item">
        <h3><a href="item/<%= id %>"><%= title %></a></h3>
        <div class="content">
            <p class="lead"><%= content %></p>
        </div>
        <div class="actions">
            <button class="btn btn-danger action-delete">delete</button>
        </div>
    </script>


    <!-- single item view -->
    <script type="text/template" id="tpl-item-edit">
        <form role="form">
            <div class="form-group">
                <label>Title</label>
                <input name="title" type="text" class="form-control" value="<%= title %>"/>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea name="content" class="form-control" rows="3"><%= content %></textarea>
            </div>
        </form>
    </script>    

</head>
<body>

    <div id="main">
        <div id="preloader"><div id="log"></div></div>
    </div>

</body>
</html>

